.span-container {
    width: 100%;
    margin-left: -1%;
    overflow: hidden;
}

.span1 {
    margin-left: 1%;
    width: 9%;
    float: left;
}

.span2 {
    margin-left: 1%;
    width: 19%;
    float: left;
}

.span3 {
    margin-left: 1%;
    width: 29%;
    float: left;
}

.span4 {
    margin-left: 1%;
    width: 39%;
    float: left;
}

.span5 {
    margin-left: 1%;
    width: 49%;
    float: left;
}

.span10 {
    margin-left: 1%;
    width: 99%;
    float: left;
}