* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

body {
    background-color: #FFFBE8;
    padding-bottom: 60px;
}

nav {
    background-color: #3d3446;
}

nav > .nav {
    height: 30px;
    width: 510px;
    background-color: #3d3446;
    font-weight: bold;
    margin: 0 auto;
}

nav > .nav > div {
    width: 170px;
    height: 30px;
    float: left;
    text-align: center;
}

nav > .nav > div:hover,
nav > .nav > div:active,
nav > .nav > div.current {
    background-color: #31C6CE;
}

nav > .nav > div:hover > div > a,
nav > .nav > div:active > div > a,
nav > .nav > div.current > div > a {
    color:#3d3446;
}

nav > .nav > div > div {
    height: 20px;
    margin-top: 5px;
}

nav > .nav > div > div > a {
    color: #fffbe8;
    text-decoration: none;
    margin-top: 30px;
    padding: 5px 60px;
}

.content {
    width: 84%;
    margin: 0 auto;
}

.news > header {
    width: 90%;
}

.news > article.feed {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    margin-right: 5%;
}

.news > article.feed:last-child {
    margin-right: 0%;
}

article.feed > article.post {
    text-align: justify;
    margin-bottom: 20px;
}

article.post > header {
    background-color: #EFB482;
    padding: 3px;
}

article.post > header > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

article.post > .desc {
    padding: 3px;
    background-color: #F1564F;
    color: #FFFBE8;
}

#items {
    overflow: hidden;
    margin-left: -2%;
}

#items > article {
    width: 18%;
    min-width: 150px;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
}

#items > article > a {
    text-decoration: none;
    display: block;
    padding: 40px 0px;
    background-color: #3d3446;
    color: #fffbe8;
    text-align: center;
}

#items > article > a:hover,
#items > article > a:active {
    background-color: #31C6CE;
}

.accordion {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.accordion > li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.accordion .item > .title {
    background-color: #3d3446;
    color: #fffbe8;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer;
}

.accordion .item > .content {
    background-color: #31C6CE;
    color: #3d3446;
    width: 100%;
    overflow: hidden;
}

.accordion .item > .content > a {
    width: 30%;
    margin-right: 5%;
    padding: 30px 0px;
    text-align: center;
    display: block;
    float: left;
}

.accordion .item > .content > a:last-child {
    margin-right: 0;
}

.item-editor > .input > label {
    width: 100%;
}

.ajax-editor {
    width: 800px;
    margin: 10px auto;
    padding: 0px;
}

.ajax-editor input,
.ajax-editor select{
    width: 100%;
    float: left;
}

.ajax-editor input[type='text'],
.ajax-editor input[type='number']
.ajax-editor select {
    border: 1px solid black;
    padding: 1% 1%;
    width: 98%;
}

.ajax-editor .input {
    text-align: left;
}